## Read in Oscar CSV back into Dataframe

In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
oscars_df = pd.read_csv('oscar_movies.csv')

In [3]:
oscars_df.describe()

       metacritic score        budget
count        666.000000  5.460000e+02
mean          75.860360  2.749871e+07
std           11.386974  3.039982e+07
min           28.000000  1.800000e+05
25%           68.000000  8.100000e+06
50%           77.000000  1.800000e+07
75%           84.000000  3.237500e+07
max          100.000000  2.370000e+08

In [4]:
oscars_df.head()

,IMDBId,movie title,director(s),writer(s),casts,genre(s),language,country,runtime (mins),mpaarating,release date,metacritic score,budget,distributionCompany
0,tt0091763,Platoon,['Oliver Stone'],['Oliver Stone'],"['Charlie Sheen', 'Tom Berenger', 'Willem Dafoe']","['Drama', 'War']",English,USA,2h,R,6 February 1987,92.0,6000000.0,Orion Pictures
1,tt0082979,Reds,['Warren Beatty'],"['Warren Beatty', 'Trevor Griffiths']","['Warren Beatty', 'Diane Keaton', 'Edward Herr...","['Biography', 'Drama', 'History', 'Romance']",English,USA,3h 15min,PG,25 December 1981,76.0,32000000.0,Paramount Pictures
2,tt0084434,An Officer and a Gentleman,['Taylor Hackford'],['Douglas Day Stewart'],"['Richard Gere', 'Debra Winger', 'David Keith']","['Drama', 'Romance']",English,USA,2h 4min,R,13 August 1982,75.0,7500000.0,Paramount Pictures
3,tt0119360,In & Out,['Frank Oz'],['Paul Rudnick'],"['Kevin Kline', 'Joan Cusack', 'Tom Selleck']","['Comedy', 'Romance']",English,USA,1h 30min,PG-13,19 September 1997,70.0,35000000.0,Paramount Pictures
4,tt0292542,Son of the Bride,['Juan José Campanella'],"['Juan José Campanella', 'Fernando Castets']","['Ricardo Darín', 'Héctor Alterio', 'Norma Ale...","['Comedy', 'Drama']",Spanish,Argentina,2h 3min,R,16 August 2001,68.0,NaN,Sony Pictures Classics

In [5]:
def clean_rows(column):
    oscars_df[column] = oscars_df[column].str.strip('[]').astype(str)
    return oscars_df

In [6]:
clean_rows('writer(s)')
clean_rows('director(s)')
clean_rows('casts')
clean_rows('genre(s)')

,IMDBId,movie title,director(s),writer(s),casts,genre(s),language,country,runtime (mins),mpaarating,release date,metacritic score,budget,distributionCompany
0,tt0091763,Platoon,'Oliver Stone','Oliver Stone',"'Charlie Sheen', 'Tom Berenger', 'Willem Dafoe'","'Drama', 'War'",English,USA,2h,R,6 February 1987,92.0,6000000.0,Orion Pictures
1,tt0082979,Reds,'Warren Beatty',"'Warren Beatty', 'Trevor Griffiths'","'Warren Beatty', 'Diane Keaton', 'Edward Herrm...","'Biography', 'Drama', 'History', 'Romance'",English,USA,3h 15min,PG,25 December 1981,76.0,32000000.0,Paramount Pictures
2,tt0084434,An Officer and a Gentleman,'Taylor Hackford','Douglas Day Stewart',"'Richard Gere', 'Debra Winger', 'David Keith'","'Drama', 'Romance'",English,USA,2h 4min,R,13 August 1982,75.0,7500000.0,Paramount Pictures
3,tt0119360,In & Out,'Frank Oz','Paul Rudnick',"'Kevin Kline', 'Joan Cusack', 'Tom Selleck'","'Comedy', 'Romance'",English,USA,1h 30min,PG-13,19 September 1997,70.0,35000000.0,Paramount Pictures
4,tt0292542,Son of the Bride,'Juan José Campanella',"'Juan José Campanella', 'Fernando Castets'","'Ricardo Darín', 'Héctor Alterio', 'Norma Alea...","'Comedy', 'Drama'",Spanish,Argentina,2h 3min,R,16 August 2001,68.0,NaN,Sony Pictures Classics
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
792,tt0189998,Shadow of the Vampire,'E. Elias Merhige','Steven Katz',"'John Malkovich', 'Willem Dafoe', 'Udo Kier'","'Drama', 'Horror'",English,UK,1h 32min,R,26 January 2001,71.0,8000000.0,Lions Gate Films Home Entertainment
793,tt0094608,The Accused,'Jonathan Kaplan','Tom Topor',"'Kelly McGillis', 'Jodie Foster', 'Bernie Coul...","'Crime', 'Drama'",English,Canada,1h 51min,R,14 October 1988,65.0,13000000.0,Paramount Pictures
794,tt0097155,Memories of a Marriage,'Kaspar Rostrup',"'Martha Christensen', 'Kaspar Rostrup', '1 mor...","'Frits Helmuth', 'Mikael Helmuth', 'Ghita Nørby'",'Drama',Danish,Denmark,1h 30min,1h 30min,NaN,NaN,NaN,Pathé-Nordisk Film
795,tt0100157,Misery,'Rob Reiner',"'Stephen King', 'William Goldman'","'James Caan', 'Kathy Bates', 'Richard Farnsworth'","'Drama', 'Thriller'",English,USA,1h 47min,R,30 November 1990,75.0,20000000.0,Columbia Pictures
796,tt0086619,Yentl,'Barbra Streisand',"'Jack Rosenthal', 'Barbra Streisand', '1 more ...","'Barbra Streisand', 'Amy Irving', 'Mandy Patin...","'Drama', 'Musical', 'Romance'",English,UK,2h 13min,PG,6 January 1984,68.0,12000000.0,MGM/UA Entertainment Company

In [7]:
oscars_df.head()

,IMDBId,movie title,director(s),writer(s),casts,genre(s),language,country,runtime (mins),mpaarating,release date,metacritic score,budget,distributionCompany
0,tt0091763,Platoon,'Oliver Stone','Oliver Stone',"'Charlie Sheen', 'Tom Berenger', 'Willem Dafoe'","'Drama', 'War'",English,USA,2h,R,6 February 1987,92.0,6000000.0,Orion Pictures
1,tt0082979,Reds,'Warren Beatty',"'Warren Beatty', 'Trevor Griffiths'","'Warren Beatty', 'Diane Keaton', 'Edward Herrm...","'Biography', 'Drama', 'History', 'Romance'",English,USA,3h 15min,PG,25 December 1981,76.0,32000000.0,Paramount Pictures
2,tt0084434,An Officer and a Gentleman,'Taylor Hackford','Douglas Day Stewart',"'Richard Gere', 'Debra Winger', 'David Keith'","'Drama', 'Romance'",English,USA,2h 4min,R,13 August 1982,75.0,7500000.0,Paramount Pictures
3,tt0119360,In & Out,'Frank Oz','Paul Rudnick',"'Kevin Kline', 'Joan Cusack', 'Tom Selleck'","'Comedy', 'Romance'",English,USA,1h 30min,PG-13,19 September 1997,70.0,35000000.0,Paramount Pictures
4,tt0292542,Son of the Bride,'Juan José Campanella',"'Juan José Campanella', 'Fernando Castets'","'Ricardo Darín', 'Héctor Alterio', 'Norma Alea...","'Comedy', 'Drama'",Spanish,Argentina,2h 3min,R,16 August 2001,68.0,NaN,Sony Pictures Classics

Split the writers columns and explore how many writers are in each new column

In [8]:
oscars_df[['writers1','writers2','writers3']] = oscars_df['writer(s)'].apply(lambda x: pd.Series(x.split(',')))

In [9]:
oscars_df.tail()

,IMDBId,movie title,director(s),writer(s),casts,genre(s),language,country,runtime (mins),mpaarating,release date,metacritic score,budget,distributionCompany,writers1,writers2,writers3
792,tt0189998,Shadow of the Vampire,'E. Elias Merhige','Steven Katz',"'John Malkovich', 'Willem Dafoe', 'Udo Kier'","'Drama', 'Horror'",English,UK,1h 32min,R,26 January 2001,71.0,8000000.0,Lions Gate Films Home Entertainment,'Steven Katz',NaN,NaN
793,tt0094608,The Accused,'Jonathan Kaplan','Tom Topor',"'Kelly McGillis', 'Jodie Foster', 'Bernie Coul...","'Crime', 'Drama'",English,Canada,1h 51min,R,14 October 1988,65.0,13000000.0,Paramount Pictures,'Tom Topor',NaN,NaN
794,tt0097155,Memories of a Marriage,'Kaspar Rostrup',"'Martha Christensen', 'Kaspar Rostrup', '1 mor...","'Frits Helmuth', 'Mikael Helmuth', 'Ghita Nørby'",'Drama',Danish,Denmark,1h 30min,1h 30min,NaN,NaN,NaN,Pathé-Nordisk Film,'Martha Christensen','Kaspar Rostrup','1 more credit'
795,tt0100157,Misery,'Rob Reiner',"'Stephen King', 'William Goldman'","'James Caan', 'Kathy Bates', 'Richard Farnsworth'","'Drama', 'Thriller'",English,USA,1h 47min,R,30 November 1990,75.0,20000000.0,Columbia Pictures,'Stephen King','William Goldman',NaN
796,tt0086619,Yentl,'Barbra Streisand',"'Jack Rosenthal', 'Barbra Streisand', '1 more ...","'Barbra Streisand', 'Amy Irving', 'Mandy Patin...","'Drama', 'Musical', 'Romance'",English,UK,2h 13min,PG,6 January 1984,68.0,12000000.0,MGM/UA Entertainment Company,'Jack Rosenthal','Barbra Streisand','1 more credit'

In [10]:
#Writers one should have the same number of writers as length of data frame
oscars_df['writers1'].count()

797

In [11]:
#Writers 2 should have less
oscars_df['writers2'].count()

576

In [12]:
#Writers 3 should have less
oscars_df['writers3'].count()

280

In [13]:
oscars_df['writers3'].value_counts()

 '1 more credit'     158
 '2 more credits'     75
 '3 more credits'     35
 '4 more credits'      7
 '5 more credits'      2
 '6 more credits'      2
 '7 more credits'      1
Name: writers3, dtype: int64

### The third writers column is not telling us who wrote for the movie so that column will be dropped

In [14]:
oscars_df.drop(['writer(s)','writers3'], axis=1,inplace=True)

### Now I will split and explore directors

In [15]:
oscars_df[['director1','director2']] = oscars_df['director(s)'].apply(lambda x: pd.Series(x.split(',')))

In [16]:
oscars_df['director1'].count()

797

In [17]:
oscars_df['director2'].count()

19

In [18]:
oscars_df['director2'].value_counts()

 'Ethan Coen'           2
 'Joel Coen'            2
 'Luc Dardenne'         1
 'Loveleen Tandan'      1
 'Espen Sandberg'       1
 'Michel Debats'        1
 'Bentley Dean'         1
 'Ljubomir Stefanov'    1
 'Massimo Troisi'       1
 'Yaron Shani'          1
 'Barna Kabay'          1
 'Fengliang Yang'       1
 'Wash Westmoreland'    1
 'Kátia Lund'           1
 'Juan Carlos Tabío'    1
 'Valerie Faris'        1
 'John Cleese'          1
Name: director2, dtype: int64

#### With the count of directors being so low I will drop the column and rename directors 1 to director

In [19]:
oscars_df.drop(['director(s)','director2'], axis=1,inplace=True)

In [20]:
oscars_df.head()

,IMDBId,movie title,casts,genre(s),language,country,runtime (mins),mpaarating,release date,metacritic score,budget,distributionCompany,writers1,writers2,director1
0,tt0091763,Platoon,"'Charlie Sheen', 'Tom Berenger', 'Willem Dafoe'","'Drama', 'War'",English,USA,2h,R,6 February 1987,92.0,6000000.0,Orion Pictures,'Oliver Stone',NaN,'Oliver Stone'
1,tt0082979,Reds,"'Warren Beatty', 'Diane Keaton', 'Edward Herrm...","'Biography', 'Drama', 'History', 'Romance'",English,USA,3h 15min,PG,25 December 1981,76.0,32000000.0,Paramount Pictures,'Warren Beatty','Trevor Griffiths','Warren Beatty'
2,tt0084434,An Officer and a Gentleman,"'Richard Gere', 'Debra Winger', 'David Keith'","'Drama', 'Romance'",English,USA,2h 4min,R,13 August 1982,75.0,7500000.0,Paramount Pictures,'Douglas Day Stewart',NaN,'Taylor Hackford'
3,tt0119360,In & Out,"'Kevin Kline', 'Joan Cusack', 'Tom Selleck'","'Comedy', 'Romance'",English,USA,1h 30min,PG-13,19 September 1997,70.0,35000000.0,Paramount Pictures,'Paul Rudnick',NaN,'Frank Oz'
4,tt0292542,Son of the Bride,"'Ricardo Darín', 'Héctor Alterio', 'Norma Alea...","'Comedy', 'Drama'",Spanish,Argentina,2h 3min,R,16 August 2001,68.0,NaN,Sony Pictures Classics,'Juan José Campanella','Fernando Castets','Juan José Campanella'

In [64]:
oscars_df.rename(columns={"director1": "director"},inplace=True)

#### I will now explore split the cast and explore

In [22]:
oscars_df[['Lead_Actor','Supporting_Actor_1','Supporting_Actor_2']] = oscars_df['casts'].apply(lambda x: pd.Series(x.split(',')))

In [23]:
oscars_df['Lead_Actor'].value_counts()

'Meryl Streep'         15
'Tom Hanks'            12
'Leonardo DiCaprio'    10
'Jeff Bridges'          8
'Denzel Washington'     8
                       ..
'Julia Roberts'         1
'Kevin Kline'           1
'Christian Friedel'     1
'Anton Glanzelius'      1
'Gabourey Sidibe'       1
Name: Lead_Actor, Length: 528, dtype: int64

In [24]:
oscars_df['Lead_Actor'].count()

797

In [25]:
oscars_df['Supporting_Actor_1'].value_counts()

 'Kate Winslet'        7
 'Meryl Streep'        7
 'Matt Damon'          6
 'Julianne Moore'      5
 'Sissy Spacek'        5
                      ..
 'Lucy Boynton'        1
 'Irrfan Khan'         1
 'Allison Williams'    1
 'Laura del Sol'       1
 'Ali Suliman'         1
Name: Supporting_Actor_1, Length: 627, dtype: int64

In [26]:
oscars_df['Supporting_Actor_1'].count()

797

In [27]:
oscars_df['Supporting_Actor_2'].value_counts()

 'Willem Dafoe'       4
 'Joe Pesci'          4
 'Ed Harris'          4
 'Michael Caine'      4
 'Barbara Hershey'    3
                     ..
 'Peter Ustinov'      1
 'Florence Pugh'      1
 'Matthias Habich'    1
 'Tom Prior'          1
 'Dawid Ogrodnik'     1
Name: Supporting_Actor_2, Length: 710, dtype: int64

In [28]:
oscars_df['Supporting_Actor_2'].count()

796

In [29]:
oscars_df.drop(['casts'], axis=1,inplace=True)

### Explore genre

In [30]:
oscars_df[['genre','subgenre1','subgenre2','subgenre3','sungenre4','subgenre5','subgenre6']] = oscars_df['genre(s)'].apply(lambda x: pd.Series(x.split(',')))

In [31]:
oscars_df.head()

,IMDBId,movie title,genre(s),language,country,runtime (mins),mpaarating,release date,metacritic score,budget,...,Lead_Actor,Supporting_Actor_1,Supporting_Actor_2,genre,subgenre1,subgenre2,subgenre3,sungenre4,subgenre5,subgenre6
0,tt0091763,Platoon,"'Drama', 'War'",English,USA,2h,R,6 February 1987,92.0,6000000.0,...,'Charlie Sheen','Tom Berenger','Willem Dafoe','Drama','War',NaN,NaN,NaN,NaN,NaN
1,tt0082979,Reds,"'Biography', 'Drama', 'History', 'Romance'",English,USA,3h 15min,PG,25 December 1981,76.0,32000000.0,...,'Warren Beatty','Diane Keaton','Edward Herrmann','Biography','Drama','History','Romance',NaN,NaN,NaN
2,tt0084434,An Officer and a Gentleman,"'Drama', 'Romance'",English,USA,2h 4min,R,13 August 1982,75.0,7500000.0,...,'Richard Gere','Debra Winger','David Keith','Drama','Romance',NaN,NaN,NaN,NaN,NaN
3,tt0119360,In & Out,"'Comedy', 'Romance'",English,USA,1h 30min,PG-13,19 September 1997,70.0,35000000.0,...,'Kevin Kline','Joan Cusack','Tom Selleck','Comedy','Romance',NaN,NaN,NaN,NaN,NaN
4,tt0292542,Son of the Bride,"'Comedy', 'Drama'",Spanish,Argentina,2h 3min,R,16 August 2001,68.0,NaN,...,'Ricardo Darín','Héctor Alterio','Norma Aleandro','Comedy','Drama',NaN,NaN,NaN,NaN,NaN

In [32]:
oscars_df['genre'].value_counts()

'Drama'          329
'Comedy'         156
'Biography'      147
'Crime'           83
'Action'          40
'Adventure'       33
'Documentary'      3
'Romance'          2
'Horror'           1
'Family'           1
'History'          1
'Mystery'          1
Name: genre, dtype: int64

In [33]:
oscars_df['genre'].count()

797

In [34]:
oscars_df['subgenre1'].value_counts()

 'Drama'        351
 'Romance'       90
 'Crime'         34
 'Comedy'        26
 'Mystery'       24
 'Music'         23
 'History'       22
 'Thriller'      21
 'War'           17
 'Adventure'     15
 'Biography'     12
 'Fantasy'       10
 'Sport'          7
 'Musical'        6
 'Family'         5
 'Western'        4
 'Sci-Fi'         4
 'Horror'         2
 'Animation'      1
Name: subgenre1, dtype: int64

In [35]:
oscars_df['subgenre1'].count()

674

In [36]:
oscars_df['subgenre2'].value_counts()

 'Romance'      95
 'Drama'        67
 'Thriller'     62
 'History'      54
 'War'          35
 'Music'        25
 'Mystery'      18
 'Fantasy'      13
 'Sport'        11
 'Sci-Fi'        7
 'Crime'         6
 'Musical'       6
 'Family'        4
 'Biography'     1
 'Western'       1
Name: subgenre2, dtype: int64

In [37]:
oscars_df['subgenre2'].count()

405

In [38]:
oscars_df['subgenre3'].count()

144

In [39]:
oscars_df['subgenre5'].count()

7

In [40]:
oscars_df['subgenre6'].value_counts()

 'War'    1
Name: subgenre6, dtype: int64

In [41]:
oscars_df['sungenre4'].value_counts()

 'War'         10
 'Thriller'     7
 'Romance'      4
 'Western'      4
 'History'      2
 'Mystery'      1
 'Sci-Fi'       1
 'Musical'      1
 'Sport'        1
Name: sungenre4, dtype: int64

In [42]:
oscars_df.drop(['genre(s)','sungenre4','subgenre5','subgenre6'], axis=1,inplace=True)

In [43]:
oscars_df.head()

,IMDBId,movie title,language,country,runtime (mins),mpaarating,release date,metacritic score,budget,distributionCompany,writers1,writers2,director1,Lead_Actor,Supporting_Actor_1,Supporting_Actor_2,genre,subgenre1,subgenre2,subgenre3
0,tt0091763,Platoon,English,USA,2h,R,6 February 1987,92.0,6000000.0,Orion Pictures,'Oliver Stone',NaN,'Oliver Stone','Charlie Sheen','Tom Berenger','Willem Dafoe','Drama','War',NaN,NaN
1,tt0082979,Reds,English,USA,3h 15min,PG,25 December 1981,76.0,32000000.0,Paramount Pictures,'Warren Beatty','Trevor Griffiths','Warren Beatty','Warren Beatty','Diane Keaton','Edward Herrmann','Biography','Drama','History','Romance'
2,tt0084434,An Officer and a Gentleman,English,USA,2h 4min,R,13 August 1982,75.0,7500000.0,Paramount Pictures,'Douglas Day Stewart',NaN,'Taylor Hackford','Richard Gere','Debra Winger','David Keith','Drama','Romance',NaN,NaN
3,tt0119360,In & Out,English,USA,1h 30min,PG-13,19 September 1997,70.0,35000000.0,Paramount Pictures,'Paul Rudnick',NaN,'Frank Oz','Kevin Kline','Joan Cusack','Tom Selleck','Comedy','Romance',NaN,NaN
4,tt0292542,Son of the Bride,Spanish,Argentina,2h 3min,R,16 August 2001,68.0,NaN,Sony Pictures Classics,'Juan José Campanella','Fernando Castets','Juan José Campanella','Ricardo Darín','Héctor Alterio','Norma Aleandro','Comedy','Drama',NaN,NaN

In [44]:
oscars_df['release_date'] = pd.to_datetime(oscars_df['release date'])

In [45]:
oscars_df.head()

,IMDBId,movie title,language,country,runtime (mins),mpaarating,release date,metacritic score,budget,distributionCompany,...,writers2,director1,Lead_Actor,Supporting_Actor_1,Supporting_Actor_2,genre,subgenre1,subgenre2,subgenre3,release_date
0,tt0091763,Platoon,English,USA,2h,R,6 February 1987,92.0,6000000.0,Orion Pictures,...,NaN,'Oliver Stone','Charlie Sheen','Tom Berenger','Willem Dafoe','Drama','War',NaN,NaN,1987-02-06
1,tt0082979,Reds,English,USA,3h 15min,PG,25 December 1981,76.0,32000000.0,Paramount Pictures,...,'Trevor Griffiths','Warren Beatty','Warren Beatty','Diane Keaton','Edward Herrmann','Biography','Drama','History','Romance',1981-12-25
2,tt0084434,An Officer and a Gentleman,English,USA,2h 4min,R,13 August 1982,75.0,7500000.0,Paramount Pictures,...,NaN,'Taylor Hackford','Richard Gere','Debra Winger','David Keith','Drama','Romance',NaN,NaN,1982-08-13
3,tt0119360,In & Out,English,USA,1h 30min,PG-13,19 September 1997,70.0,35000000.0,Paramount Pictures,...,NaN,'Frank Oz','Kevin Kline','Joan Cusack','Tom Selleck','Comedy','Romance',NaN,NaN,1997-09-19
4,tt0292542,Son of the Bride,Spanish,Argentina,2h 3min,R,16 August 2001,68.0,NaN,Sony Pictures Classics,...,'Fernando Castets','Juan José Campanella','Ricardo Darín','Héctor Alterio','Norma Aleandro','Comedy','Drama',NaN,NaN,2001-08-16

In [57]:
def runtime_to_minutes(runtimestring):
    runtime = runtimestring.split('h')
    if len(runtime)>2:
        minutes = int(runtime[0])*60 + int(runtime[2])
    else:
         minutes = int(runtime[0])*60
    return minutes

In [58]:
oscars_df['runtime (mins)'] = oscars_df['runtime (mins)'].apply(runtime_to_minutes)

In [59]:
oscars_df['runtime (mins)'].count()

797

In [60]:
oscars_df.head()

,IMDBId,movie title,language,country,runtime (mins),mpaarating,release date,metacritic score,budget,distributionCompany,...,writers2,director1,Lead_Actor,Supporting_Actor_1,Supporting_Actor_2,genre,subgenre1,subgenre2,subgenre3,release_date
0,tt0091763,Platoon,English,USA,120,R,6 February 1987,92.0,6000000.0,Orion Pictures,...,NaN,'Oliver Stone','Charlie Sheen','Tom Berenger','Willem Dafoe','Drama','War',NaN,NaN,1987-02-06
1,tt0082979,Reds,English,USA,180,PG,25 December 1981,76.0,32000000.0,Paramount Pictures,...,'Trevor Griffiths','Warren Beatty','Warren Beatty','Diane Keaton','Edward Herrmann','Biography','Drama','History','Romance',1981-12-25
2,tt0084434,An Officer and a Gentleman,English,USA,120,R,13 August 1982,75.0,7500000.0,Paramount Pictures,...,NaN,'Taylor Hackford','Richard Gere','Debra Winger','David Keith','Drama','Romance',NaN,NaN,1982-08-13
3,tt0119360,In & Out,English,USA,60,PG-13,19 September 1997,70.0,35000000.0,Paramount Pictures,...,NaN,'Frank Oz','Kevin Kline','Joan Cusack','Tom Selleck','Comedy','Romance',NaN,NaN,1997-09-19
4,tt0292542,Son of the Bride,Spanish,Argentina,120,R,16 August 2001,68.0,NaN,Sony Pictures Classics,...,'Fernando Castets','Juan José Campanella','Ricardo Darín','Héctor Alterio','Norma Aleandro','Comedy','Drama',NaN,NaN,2001-08-16

In [65]:
oscars_df['director'].value_counts()

'Martin Scorsese'          13
'Woody Allen'              11
'Steven Spielberg'         11
'Clint Eastwood'            9
'Alejandro G. Iñárritu'     6
                           ..
'Iain Softley'              1
'David Lean'                1
'Julie Taymor'              1
'Roger Michell'             1
'John Cameron Mitchell'     1
Name: director, Length: 485, dtype: int64

In [76]:
oscars_df.groupby('metacritic score').tail()

,IMDBId,movie title,language,country,runtime (mins),mpaarating,release date,metacritic score,budget,distributionCompany,...,writers2,director,Lead_Actor,Supporting_Actor_1,Supporting_Actor_2,genre,subgenre1,subgenre2,subgenre3,release_date
32,tt1007029,The Iron Lady,English,UK,60,PG-13,13 January 2012,54.0,13000000.0,The Weinstein Company,...,NaN,'Phyllida Lloyd','Meryl Streep','Jim Broadbent','Richard E. Grant','Biography','Drama',NaN,NaN,2012-01-13
33,tt0477302,Extremely Loud & Incredibly Close,English,USA,120,PG-13,20 January 2012,46.0,40000000.0,Warner Bros.,...,'Jonathan Safran Foer','Stephen Daldry','Thomas Horn','Tom Hanks','Sandra Bullock','Adventure','Drama','Mystery',NaN,2012-01-20
41,tt0166943,Music of the Heart,English,USA,120,PG,29 October 1999,54.0,27000000.0,Miramax,...,NaN,'Wes Craven','Meryl Streep','Cloris Leachman','Henry Dinhofer','Drama','Music',NaN,NaN,1999-10-29
53,tt1065073,Boyhood,English,USA,120,R,15 August 2014,100.0,4000000.0,IFC Films,...,NaN,'Richard Linklater','Ellar Coltrane','Patricia Arquette','Ethan Hawke','Drama',NaN,NaN,NaN,2014-08-15
99,tt1790885,Zero Dark Thirty,English,USA,120,R,11 January 2013,95.0,40000000.0,Columbia Pictures,...,NaN,'Kathryn Bigelow','Jessica Chastain','Joel Edgerton','Chris Pratt','Drama','History','Thriller','War',2013-01-11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
792,tt0189998,Shadow of the Vampire,English,UK,60,R,26 January 2001,71.0,8000000.0,Lions Gate Films Home Entertainment,...,NaN,'E. Elias Merhige','John Malkovich','Willem Dafoe','Udo Kier','Drama','Horror',NaN,NaN,2001-01-26
793,tt0094608,The Accused,English,Canada,60,R,14 October 1988,65.0,13000000.0,Paramount Pictures,...,NaN,'Jonathan Kaplan','Kelly McGillis','Jodie Foster','Bernie Coulson','Crime','Drama',NaN,NaN,1988-10-14
794,tt0097155,Memories of a Marriage,Danish,Denmark,60,1h 30min,NaN,NaN,NaN,Pathé-Nordisk Film,...,'Kaspar Rostrup','Kaspar Rostrup','Frits Helmuth','Mikael Helmuth','Ghita Nørby','Drama',NaN,NaN,NaN,NaT
795,tt0100157,Misery,English,USA,60,R,30 November 1990,75.0,20000000.0,Columbia Pictures,...,'William Goldman','Rob Reiner','James Caan','Kathy Bates','Richard Farnsworth','Drama','Thriller',NaN,NaN,1990-11-30
796,tt0086619,Yentl,English,UK,120,PG,6 January 1984,68.0,12000000.0,MGM/UA Entertainment Company,...,'Barbra Streisand','Barbra Streisand','Barbra Streisand','Amy Irving','Mandy Patinkin','Drama','Musical','Romance',NaN,1984-01-06

In [77]:
bool1 = pd.isnull(oscars_df['metacritic score'])
oscars_df[bool1]

,IMDBId,movie title,language,country,runtime (mins),mpaarating,release date,metacritic score,budget,distributionCompany,...,writers2,director,Lead_Actor,Supporting_Actor_1,Supporting_Actor_2,genre,subgenre1,subgenre2,subgenre3,release_date
7,tt0082736,Mephisto,Hungarian,West Germany,120,Unrated,22 March 1982,NaN,NaN,Analysis Film Releasing Corporation,...,'István Szabó','István Szabó','Klaus Maria Brandauer','Krystyna Janda','Ildikó Bánsági','Drama',NaN,NaN,NaN,1982-03-22
9,tt0087027,Camila,Spanish,Argentina,60,R,15 March 1985,NaN,NaN,European Classics,...,'Beda Docampo Feijóo','María Luisa Bemberg','Susú Pecoraro','Imanol Arias','Héctor Alterio','Drama','Romance',NaN,NaN,1985-03-15
10,tt0094924,A Cry in the Dark,English,Australia,120,PG-13,11 November 1988,NaN,15000000.0,Warner Bros.,...,'Robert Caswell','Fred Schepisi','Meryl Streep','Sam Neill','Dale Reeves','Biography','Drama',NaN,NaN,1988-11-11
15,tt0095530,Little Dorrit,English,UK,300,G,21 October 1988,NaN,NaN,Cannon Film Distributors,...,'Christine Edzard','Christine Edzard','Derek Jacobi','Alec Guinness','Joan Greenwood','Drama','Romance',NaN,NaN,1988-10-21
29,tt0111797,Eat Drink Man Woman,Mandarin,Taiwan,120,Not Rated,3 August 1994,NaN,NaN,The Samuel Goldwyn Company,...,'James Schamus','Ang Lee','Sihung Lung','Kuei-Mei Yang','Yu-Wen Wang','Comedy','Drama','Romance',NaN,1994-08-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
738,tt0088090,Sesión continua,Spanish,Spain,60,1h 55min,NaN,NaN,NaN,NaN,...,'José Luis Garci','José Luis Garci','Adolfo Marsillach','Jesús Puente','María Casanova','Drama',NaN,NaN,NaN,NaT
750,tt0108551,What's Love Got to Do with It,English,USA,60,R,25 June 1993,NaN,15000000.0,Buena Vista Pictures,...,'Kurt Loder','Brian Gibson','Angela Bassett','Laurence Fishburne','RaéVen Kelly','Biography','Drama','Music',NaN,1993-06-25
763,tt0101640,Raise the Red Lantern,Mandarin,China,120,PG,18 December 1991,NaN,NaN,MGM Home Entertainment,...,'Ni Zhen','Yimou Zhang','Li Gong','Jingwu Ma','Saifei He','Drama','History','Romance',NaN,1991-12-18
781,tt0087144,Dangerous Moves,French,France,60,1h 40min,NaN,NaN,NaN,International Spectrafilm,...,NaN,'Richard Dembo','Michel Piccoli','Alexandre Arbatt','Liv Ullmann','Drama','Sport','Thriller',NaN,NaT
794,tt0097155,Memories of a Marriage,Danish,Denmark,60,1h 30min,NaN,NaN,NaN,Pathé-Nordisk Film,...,'Kaspar Rostrup','Kaspar Rostrup','Frits Helmuth','Mikael Helmuth','Ghita Nørby','Drama',NaN,NaN,NaN,NaT