In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Lasso, LogisticRegression
from sklearn.feature_selection import SelectFromModel
from sklearn.preprocessing import StandardScaler

In [2]:
oscars_df = pd.read_csv('oscar_movies_data.csv')

In [4]:
oscars_df.describe()

,Unnamed: 0,runtime (mins),metacritic score,budget,Total_Movies_Lead_Actor_Director,Total_Movies_First_Supporting_Actor_Director,Total_Movies_Second_Supporting_Actor_Director,Buena Vista Pictures,Columbia Pictures,Focus Features,...,Tony Kushner,Valerie Curtin,William Goldman,Winston Groom,G,Not Rated,PG,PG-13,R,Unrated
count,1532.000000,1532.000000,1532.000000,1.211000e+03,1532.000000,1532.000000,1529.000000,908.000000,908.000000,908.000000,...,67.000000,67.000000,67.000000,67.000000,1514.000000,1514.000000,1514.000000,1514.000000,1514.000000,1514.000000
mean,967.569843,120.449739,72.720627,4.165420e+07,1.912533,1.785901,1.778286,0.061674,0.117841,0.052863,...,0.029851,0.044776,0.029851,0.014925,0.027741,0.031044,0.179657,0.263540,0.494716,0.003303
std,578.876718,22.068138,12.891813,4.859082e+07,0.826678,0.552753,0.542584,0.240695,0.322598,0.223884,...,0.171460,0.208373,0.171460,0.122169,0.164284,0.173493,0.384028,0.440698,0.500137,0.057391
min,0.000000,70.000000,25.000000,1.500000e+05,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,463.750000,105.000000,65.000000,1.200000e+07,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,940.500000,118.000000,74.000000,2.500000e+07,2.000000,2.000000,2.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1468.250000,132.000000,82.000000,5.000000e+07,2.000000,2.000000,2.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000
max,1989.000000,224.000000,100.000000,3.210000e+08,7.000000,4.000000,4.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [6]:
oscars_df.shape

(1532, 94)