In [1]:
from bs4 import BeautifulSoup
import requests
import numpy as np
import time, os
from time import sleep
from random import randint
import re
import json
from fake_useragent import UserAgent
import math

## Scrape imdb awards page

In [2]:
ua = UserAgent()
user_agent = {'User-agent': ua.random}
pages = np.arange(1980,2021)
#title_ids=[]
def get_title_ids(pages):
    imdb_ids=[]
    #Get all the raw title ids
    for page in pages:
        url = 'https://www.imdb.com/event/ev0000003/'+str(page)
        response = requests.get(url,headers=user_agent).text
        data = json.loads( re.findall(r'IMDbReactWidgets\.NomineesWidget\.push.*?(\{.*\})', response)[0] )

        #print(json.dumps(data, indent=4)) # <-- comment this out to print all data

        for award in data['nomineesWidgetModel']['eventEditionSummary']['awards']:
            if award['awardName'] != 'Oscar':
                continue
            for title in award['categories']:
                noms = title['nominations']
                for nom in noms:
                    if len(nom['secondaryNominees'])!=0:
                        id_ = nom['secondaryNominees'][0]['const'] 
                    id_2 = nom['primaryNominees'][0]['const']
                    imdb_ids.append(id_)
                    imdb_ids.append(id_2)
        sleep(randint(2,10))
        
    #change the titleId into a set
    imdb_ids_set = set(imdb_ids)
    imdb_film_ids = []
    
    #Set Contains id for people and films extract the films only 
    for film_id in imdb_ids_set:
        if film_id[0]=='t':
            imdb_film_ids.append(film_id)
    return imdb_film_ids

## Scrape from IMDB Title Film Page

In [3]:
def get_movie_crew_and_genre(soup,field_name):
    '''Function to grab films writers,genres,directors,and '''
    movie_crew_list = []
    for a in soup.find('h4', text=re.compile(field_name)).parent.find_all('a'):
        movie_crew_list.append(a.text.strip())
    return movie_crew_list

In [4]:
def get_movie_value(soup, field_name):
    
    '''Grab a value from Box Office Mojo HTML
    
    Takes a string attribute of a movie on the page and returns the string in
    the next sibling object (the value for that attribute) or None if nothing is found.
    '''
    
    obj = soup.find(text=re.compile(field_name))
    
    if not obj: 
        return None
    
    # this works for most of the values
    next_element = obj.findNext()
    
    if next_element:
        return next_element.text 
    else:
        return None

In [5]:
def get_distribution_company(soup):
    usa_distribution = ''
    usa_distribution_and_release = []
    distribution_company = soup.find('h4', {'id':'distributors'}).parent.find_all('li')
    for country_distro in distribution_company:
        if 'USA' in country_distro.text:
            usa_distribution = country_distro.text
            break
    usa_distribution_and_release = usa_distribution.split('(')
    usa_distribution = usa_distribution_and_release[0].replace('\n','').strip()
    return usa_distribution

In [6]:
def get_movie_dict(titleId):
    '''
    Grab the titleId 
    '''
    
    url = 'https://www.imdb.com/title/'+str(titleId)
    response = requests.get(url)
    page = response.text
    soup = BeautifulSoup(page, "lxml")
    
    title_div = soup.find('div',class_='title_wrapper')
    title_div

    IMDB_id = titleId
    
    #title 
    title = get_movie_value(soup,'title')
    title = title.split('(')[0].strip()

    #Get the directors for the movie
    directors = get_movie_crew_and_genre(soup,'Director')


    #get the writers for the movie
    writers = get_movie_crew_and_genre(soup,'Writer')

    #get the cast of the movie:
    casts = get_movie_crew_and_genre(soup,'Stars')
    casts = casts[0:3]

    #genre
    genres = get_movie_crew_and_genre(soup,'Genres')

    #country 
    country = get_movie_crew_and_genre(soup,'Country')
    country = country[0]

    #language
    language = get_movie_crew_and_genre(soup,'Language')
    language = language[0]

    #runtime
    runtime = title_div.find('time').text
    runtime = "".join(time.strip() for time in runtime.split("\n"))
#     try:
#         converted_runtime = int(runtime.split()[0])
#     except:
#         converted_runtime = 0

    #rating
    release_and_rating_string = title_div.find('div',{'class':'subtext'}).text
    rating = release_and_rating_string.split('|')[0].strip()
    rating

    #Release Date
    release_and_rating_string = title_div.find('div',{'class':'subtext'}).text
    try:
        release = release_and_rating_string.split('|')[3].strip()
        release = release.split('(')
        release = release[0]
    except:
        release = math.nan
    #converted_release_date = to_date(release_date)

    #Get budget
    try:
        budget = soup.find('h4', text=re.compile('Budget')).parent.text
        budget = budget.split('\n')
        budget = budget[1].split('$')
        budget = budget[1].replace(',','')
        budget = int(budget) 
    except:
        budget = math.nan


    #metacritic score
    try:
        metacritic_score = soup.find('div',{'class':'titleReviewBar'}).span.text
    except:
         metacritic_score = math.nan
    try:
        metacritic_score = int(metacritic_score)
    except:
        metacritic_score = math.nan
    
    headers = ['IMDBId','movie title','director(s)','writer(s)','casts','genre(s)','language','country',
           'runtime (mins)', 'mpaarating', 'release date','metacritic score','budget']

    movie_data = []
    movie_dict = dict(zip(headers, [IMDB_id,
                                    title,
                                    directors,
                                    writers,
                                    casts,
                                    genres,
                                    language,
                                    country,
                                    runtime,
                                    rating,
                                    release,
                                    metacritic_score,
                                    budget]))

    #movie_data.append(movie_dict)
    sleep(randint(2,10))
    return movie_dict

In [7]:
def get_distribution_dict(titleId):
    
    url = 'https://www.imdb.com/title/'+str(titleId)+'/companycredits'
    response = requests.get(url)
    page = response.text
    soup = BeautifulSoup(page, "lxml")

    IMDB_id = titleId
    distribution_company = get_distribution_company(soup)

    headers = ['IMDBId','distributionCompany']

    #distribution_data = []
    distribution_dict = dict(zip(headers, [IMDB_id,
                                    distribution_company]))

    #distribution_data.append(distribution_dict)
    sleep(randint(2,10))
    return distribution_dict

In [8]:
import pandas as pd
links = get_title_ids(pages)

In [9]:
oscars_df = pd.read_csv('oscar_movies.csv')

In [10]:
scraped_links = oscars_df['IMDBId'].to_list()
len(scraped_links)

3775

In [11]:
print(len(links))
links

2203

['tt0309121',
 'tt0079354',
 'tt0112346',
 'tt0372824',
 'tt2125423',
 'tt0090605',
 'tt0089225',
 'tt0383574',
 'tt0240912',
 'tt0245712',
 'tt0416044',
 'tt0249462',
 'tt1554091',
 'tt5275892',
 'tt0241527',
 'tt0363771',
 'tt0083732',
 'tt0133093',
 'tt0120684',
 'tt0376541',
 'tt1748122',
 'tt0309061',
 'tt0279079',
 'tt4136084',
 'tt0375679',
 'tt0096440',
 'tt0385752',
 'tt5613056',
 'tt2737050',
 'tt2309788',
 'tt1351684',
 'tt3455224',
 'tt5699202',
 'tt0120885',
 'tt0119217',
 'tt0304141',
 'tt0382330',
 'tt0780504',
 'tt0091419',
 'tt1117985',
 'tt1440266',
 'tt0469146',
 'tt0118191',
 'tt0180093',
 'tt0106446',
 'tt0112384',
 'tt0115012',
 'tt1379182',
 'tt6813264',
 'tt0111454',
 'tt0115988',
 'tt0454876',
 'tt1142977',
 'tt11421246',
 'tt0086859',
 'tt0332452',
 'tt1844056',
 'tt2375605',
 'tt2103281',
 'tt0090633',
 'tt9351980',
 'tt0325980',
 'tt0477051',
 'tt0119815',
 'tt0211915',
 'tt0281850',
 'tt0780521',
 'tt2660888',
 'tt1100089',
 'tt0083866',
 'tt1690953',
 'tt0095593',
 'tt0098319',
 'tt6751668',
 'tt0107574',
 'tt0082031',
 'tt0086190',
 'tt0097372',
 'tt0079826',
 'tt0119116',
 'tt4648786',
 'tt0137523',
 'tt0307197',
 'tt0436697',
 'tt3640424',
 'tt2372213',
 'tt0099121',
 'tt0102975',
 'tt0082894',
 'tt1186020',
 'tt1156511',
 'tt0286244',
 'tt0116250',
 'tt0105311',
 'tt0112641',
 'tt0329575',
 'tt0096761',
 'tt3040964',
 'tt5462602',
 'tt0342965',
 'tt0914369',
 'tt3946086',
 'tt0106226',
 'tt0323844',
 'tt0180073',
 'tt0087755',
 'tt0099566',
 'tt0086147',
 'tt0104721',
 'tt0482571',
 'tt0114212',
 'tt0095497',
 'tt0099703',
 'tt0097937',
 'tt0879843',
 'tt0104691',
 'tt0094947',
 'tt0450259',
 'tt0090576',
 'tt0401383',
 'tt1023490',
 'tt0086837',
 'tt9032798',
 'tt0121766',
 'tt0086567',
 'tt0096018',
 'tt0365737',
 'tt0424205',
 'tt2024544',
 'tt0432283',
 'tt0088915',
 'tt3460252',
 'tt0079656',
 'tt0082206',
 'tt0118147',
 'tt0808417',
 'tt0158302',
 'tt1286537',
 'tt4661660',
 'tt0090319',
 'tt0091082',
 'tt1856101',
 'tt0162661',
 'tt0119485',
 'tt0095274',
 'tt4430002',
 'tt0093067',
 'tt0103938',
 'tt0170016',
 'tt1155592',
 'tt0298203',
 'tt0210727',
 'tt2980516',
 'tt0109839',
 'tt0093010',
 'tt0082979',
 'tt1164999',
 'tt0098384',
 'tt0098724',
 'tt0242252',
 'tt0257044',
 'tt0141868',
 'tt2771200',
 'tt0112910',
 'tt0102778',
 'tt0090043',
 'tt0140803',
 'tt0164912',
 'tt0087144',
 'tt0167404',
 'tt3674140',
 'tt1355644',
 'tt8906678',
 'tt0096874',
 'tt0396959',
 'tt0110428',
 'tt2852406',
 'tt0281010',
 'tt0120324',
 'tt0099077',
 'tt3071532',
 'tt1302006',
 'tt1204342',
 'tt0110148',
 'tt0322674',
 'tt0942385',
 'tt1322269',
 'tt3610188',
 'tt5013056',
 'tt10199590',
 'tt1077262',
 'tt0079588',
 'tt0108160',
 'tt0096332',
 'tt1520428',
 'tt3069992',
 'tt1661199',
 'tt0085482',
 'tt0140888',
 'tt0084589',
 'tt0112584',
 'tt0118571',
 'tt0388795',
 'tt0093512',
 'tt1093824',
 'tt4324518',
 'tt3783958',
 'tt2527336',
 'tt1014759',
 'tt5607714',
 'tt0114746',
 'tt0116282',
 'tt0840361',
 'tt0086370',
 'tt0436613',
 'tt1045670',
 'tt1518330',
 'tt1778342',
 'tt0106673',
 'tt0422720',
 'tt0094828',
 'tt0081747',
 'tt0405159',
 'tt0093826',
 'tt0325193',
 'tt0097576',
 'tt0116886',
 'tt1170358',
 'tt0080453',
 'tt0118954',
 'tt0344503',
 'tt0443489',
 'tt4126304',
 'tt0092593',
 'tt0091217',
 'tt0078841',
 'tt0118607',
 'tt0084516',
 'tt4571288',
 'tt0105805',
 'tt0108149',
 'tt0240200',
 'tt4955294',
 'tt2381111',
 'tt0248912',
 'tt0082443',
 'tt0090022',
 'tt0086197',
 'tt1445520',
 'tt0087880',
 'tt0414387',
 'tt0084821',
 'tt0084713',
 'tt0239583',
 'tt0102997',
 'tt0105224',
 'tt2689992',
 'tt0100557',
 'tt0089457',
 'tt0102426',
 'tt0079079',
 'tt0175880',
 'tt0345672',
 'tt0293508',
 'tt1865505',
 'tt0117247',
 'tt6634646',
 'tt0810784',
 'tt0443446',
 'tt0079574',
 'tt0101640',
 'tt0118167',
 'tt0121164',
 'tt0086450',
 'tt0304858',
 'tt1319726',
 'tt1646971',
 'tt1016268',
 'tt0976051',
 'tt0093277',
 'tt9536832',
 'tt0105335',
 'tt2543164',
 'tt6186970',
 'tt0110781',
 'tt0854678',
 'tt6267732',
 'tt0119360',
 'tt0186508',
 'tt7349662',
 'tt0099699',
 'tt2133304',
 'tt1104001',
 'tt4034228',
 'tt1602620',
 'tt0343818',
 'tt0407887',
 'tt0082736',
 'tt1049413',
 'tt6333422',
 'tt0100405',
 'tt0111503',
 'tt1735898',
 'tt1800241',
 'tt3449252',
 'tt3521126',
 'tt1764508',
 'tt1563725',
 'tt1587310',
 'tt4633694',
 'tt0109831',
 'tt0140352',
 'tt0098677',
 'tt0091021',
 'tt0100076',
 'tt2294629',
 'tt0110880',
 'tt8615478',
 'tt0430159',
 'tt0088146',
 'tt0086879',
 'tt8551848',
 'tt0120520',
 'tt0079923',
 'tt0098413',
 'tt0353737',
 'tt0268126',
 'tt0179011',
 'tt0268380',
 'tt0328538',
 'tt0106375',
 'tt0169102',
 'tt3203606',
 'tt0330801',
 'tt0455824',
 'tt0493464',
 'tt0095243',
 'tt0381849',
 'tt1024648',
 'tt4419794',
 'tt0119164',
 'tt0118632',
 'tt0265086',
 'tt2380307',
 'tt0129290',
 'tt0276751',
 'tt0458352',
 'tt0926084',
 'tt9464764',
 'tt0097142',
 'tt0399146',
 'tt0383694',
 'tt0211181',
 'tt0082348',
 'tt0089408',
 'tt1291584',
 'tt3682448',
 'tt6195494',
 'tt0078885',
 'tt0080979',
 'tt1229822',
 'tt0081656',
 'tt0106918',
 'tt0089853',
 'tt0110322',
 'tt2714900',
 'tt0082096',
 'tt0188485',
 'tt0091438',
 'tt4385888',
 'tt0101507',
 'tt0327597',
 'tt0108498',
 'tt0121765',
 'tt0087781',
 'tt0100994',
 'tt1461418',
 'tt0373861',
 'tt0078900',
 'tt2096673',
 'tt0087957',
 'tt0120780',
 'tt0120802',
 'tt0090206',
 'tt5873150',
 'tt5294550',
 'tt1173745',
 'tt2499022',
 'tt0119561',
 'tt0083642',
 'tt0118798',
 'tt0814075',
 'tt0082315',
 'tt0113676',
 'tt0091867',
 'tt1174732',
 'tt0162222',
 'tt0310281',
 'tt0104046',
 'tt0341588',
 'tt1010048',
 'tt0266543',
 'tt1877832',
 'tt1436562',
 'tt0450188',
 'tt0395972',
 'tt0099487',
 'tt2125608',
 'tt0489327',
 'tt0305206',
 'tt0120789',
 'tt0079054',
 'tt2402927',
 'tt1211837',
 'tt1263670',
 'tt0117477',
 'tt0114798',
 'tt0338751',
 'tt0085370',
 'tt1487120',
 'tt0085461',
 'tt0812387',
 'tt0175550',
 'tt2015381',
 'tt0111295',
 'tt0097509',
 'tt0368794',
 'tt0367089',
 'tt0117050',
 'tt0110357',
 'tt1798709',
 'tt1825683',
 'tt1684897',
 'tt0093488',
 'tt0101457',
 'tt0118617',
 'tt0099372',
 'tt2976354',
 'tt0086005',
 'tt0092999',
 'tt0099185',
 'tt8649186',
 'tt1120985',
 'tt0094119',
 'tt0277027',
 'tt0106961',
 'tt0094819',
 'tt1340107',
 'tt0097120',
 'tt0078850',
 'tt0082474',
 'tt0112883',
 'tt2066051',
 'tt1423894',
 'tt0117731',
 'tt0077288',
 'tt3778644',
 'tt0117793',
 'tt1555064',
 'tt0280580',
 'tt0114814',
 'tt1816518',
 'tt0426931',
 'tt0481499',
 'tt0119177',
 'tt0097123',
 'tt1417075',
 'tt4284010',
 'tt0099696',
 'tt0082280',
 'tt0116136',
 'tt0077716',
 'tt2106476',
 'tt3262342',
 'tt0087027',
 'tt0109836',
 'tt0095892',
 'tt0414469',
 'tt3450958',
 'tt0094315',
 'tt2391009',
 'tt2245084',
 'tt1663202',
 'tt0443424',
 'tt0082207',
 'tt0454921',
 'tt0078869',
 'tt0304394',
 'tt0206634',
 'tt7125860',
 'tt0084370',
 'tt4520988',
 'tt0842926',
 'tt1210166',
 'tt0188913',
 'tt1315981',
 'tt0141005',
 'tt0099348',
 'tt7375186',
 'tt5052448',
 'tt6966692',
 'tt0089716',
 'tt0092099',
 'tt0105328',
 'tt0387877',
 'tt2278388',
 'tt0093664',
 'tt0113627',
 'tt0264464',
 'tt0079625',
 'tt5745110',
 'tt0113896',
 'tt7519174',
 'tt0350476',
 'tt3398268',
 'tt2582782',
 'tt0117709',
 'tt0959337',
 'tt0120603',
 'tt0190861',
 'tt0108101',
 'tt0111486',
 'tt0106694',
 'tt1157685',
 'tt3750872',
 'tt0816692',
 'tt6023474',
 'tt0089469',
 'tt0097118',
 'tt0455912',
 'tt0428803',
 'tt0095918',
 'tt2059255',
 'tt0086465',
 'tt3917210',
 'tt0082329',
 'tt1007029',
 'tt0397535',
 'tt0110771',
 'tt0982919',
 'tt0089560',
 'tt2802154',
 'tt0088763',
 'tt0203009',
 'tt0473444',
 'tt0105051',
 'tt1895587',
 'tt6279726',
 'tt0091167',
 'tt5467670',
 'tt2551790',
 'tt0118662',
 'tt1213641',
 'tt0093209',
 'tt0975645',
 'tt0111489',
 'tt0079696',
 'tt0094606',
 'tt0089755',
 'tt0274622',
 'tt0090985',
 'tt0331218',
 'tt0090330',
 'tt0097216',
 'tt0188478',
 'tt2017038',
 'tt0141856',
 'tt0084820',
 'tt0110478',
 'tt0313196',
 'tt0248808',
 'tt0084602',
 'tt0091152',
 'tt0085544',
 'tt1866249',
 'tt2948356',
 'tt0084118',
 'tt0475290',
 'tt2872718',
 'tt5599918',
 'tt0085936',
 'tt0089908',
 'tt0117589',
 'tt0096933',
 'tt0945571',
 'tt0093389',
 'tt0129918',
 'tt0101921',
 'tt0161023',
 'tt0107756',
 'tt0929632',
 'tt3170902',
 'tt0088332',
 'tt0099012',
 'tt0102368',
 'tt1669698',
 'tt1819651',
 'tt0268397',
 'tt1135503',
 'tt1431181',
 'tt0210853',
 'tt0212720',
 'tt1504320',
 'tt1375666',
 'tt1853728',
 'tt0101540',
 'tt0107617',
 'tt0097356',
 'tt0145653',
 'tt0120623',
 'tt0095800',
 'tt2024519',
 'tt0392542',
 'tt0113720',
 'tt1212419',
 'tt0106582',
 'tt2576852',
 'tt0116044',
 'tt0105107',
 'tt0080594',
 'tt0114279',
 'tt0088153',
 'tt1201607',
 'tt0100389',
 'tt6543652',
 'tt0092005',
 'tt0102114',
 'tt0082010',
 'tt8267604',
 'tt0118849',
 'tt1313092',
 'tt0425200',
 'tt1620446',
 'tt0141926',
 'tt1560747',
 'tt0094363',
 'tt0111161',
 'tt0111579',
 'tt0848228',
 'tt1274300',
 'tt0090886',
 'tt0088939',
 'tt0093960',
 'tt4555426',
 'tt0089424',
 'tt0091833',
 'tt0298845',
 'tt1343092',
 'tt1337354',
 'tt0407304',
 'tt0106966',
 'tt0172493',
 'tt1033575',
 'tt0116234',
 'tt1340800',
 'tt0078721',
 'tt0079417',
 'tt0085478',
 'tt0461847',
 'tt0091530',
 'tt0127536',
 'tt0111257',
 'tt0075975',
 'tt0910970',
 'tt0477302',
 'tt0116058',
 'tt1821549',
 'tt0104928',
 'tt0103855',
 'tt0350258',
 'tt3612232',
 'tt0095675',
 'tt0110005',
 'tt0093818',
 'tt1019452',
 'tt0112579',
 'tt2305051',
 'tt0443499',
 'tt0369339',
 'tt0816562',
 'tt1399103',
 'tt0120863',
 'tt7775622',
 'tt1615147',
 'tt0093388',
 'tt0114369',
 'tt0080610',
 'tt0102138',
 'tt0301727',
 'tt0106332',
 'tt2527338',
 'tt1034303',
 'tt0093260',
 'tt4302938',
 'tt4122886',
 'tt0084683',
 'tt0443272',
 'tt0213149',
 'tt0186566',
 'tt0491795',
 'tt1613750',
 'tt6412452',
 'tt3409392',
 'tt0080319',
 'tt0087409',
 'tt0110239',
 'tt0892769',
 'tt0216131',
 'tt2355540',
 'tt0380510',
 'tt0091538',
 'tt0087003',
 'tt0078902',
 'tt0115952',
 'tt0104036',
 'tt2042568',
 'tt1392190',
 'tt0094027',
 'tt0408236',
 'tt2516860',
 'tt0095765',
 'tt0230591',
 'tt0120855',
 'tt0433383',
 'tt2872750',
 'tt0207639',
 'tt1226774',
 'tt0113671',
 'tt3279124',
 'tt0081534',
 'tt0120402',
 'tt0114272',
 'tt0292542',
 'tt1631323',
 'tt0106431',
 'tt1065073',
 'tt1360061',
 'tt0093004',
 'tt0089535',
 'tt0106555',
 'tt0092965',
 'tt0101272',
 'tt0130860',
 'tt0087892',
 'tt0417741',
 'tt0093668',
 'tt0091494',
 'tt0092699',
 'tt7389366',
 'tt6644200',
 'tt0101516',
 'tt0117817',
 'tt3076658',
 'tt7874708',
 'tt0089980',
 'tt0107688',
 'tt0094042',
 'tt0114898',
 'tt0112818',
 'tt0108550',
 'tt0120762',
 'tt0441909',
 'tt0120472',
 'tt5580390',
 'tt0102430',
 'tt0200780',
 'tt6333060',
 'tt0109348',
 'tt6394270',
 'tt0103176',
 'tt0084009',
 'tt0107840',
 'tt0315983',
 'tt4285496',
 'tt0100470',
 'tt0841160',
 'tt3666024',
 'tt0110877',
 'tt0110475',
 'tt0234288',
 'tt0120889',
 'tt0083922',
 'tt0116410',
 'tt0239797',
 'tt0780653',
 'tt3841424',
 'tt0113158',
 'tt0948535',
 'tt0172396',
 'tt0079126',
 'tt0094737',
 'tt0762119',
 'tt0104454',
 'tt2210633',
 'tt0335119',
 'tt0172495',
 'tt3044564',
 'tt1192628',
 'tt0094715',
 'tt0079704',
 'tt0084805',
 'tt0287467',
 'tt0344510',
 'tt0414055',
 'tt6386210',
 'tt0469494',
 'tt2980764',
 'tt0410097',
 'tt0084023',
 'tt0091886',
 'tt0243133',
 'tt0176018',
 'tt1746180',
 'tt0099598',
 'tt2543472',
 'tt0095647',
 'tt0088805',
 'tt3316960',
 'tt0217505',
 'tt0398286',
 'tt7083526',
 'tt0088740',
 'tt10499942',
 'tt0367594',
 'tt0460616',
 'tt1360065',
 'tt0421715',
 'tt0116213',
 'tt0099382',
 'tt0301199',
 'tt0120879',
 'tt0993846',
 'tt0097351',
 'tt1235166',
 'tt5144072',
 'tt6294822',
 'tt0093773',
 'tt1998355',
 'tt2358891',
 'tt1535109',
 'tt0104756',
 'tt0080351',
 'tt5028340',
 'tt0299658',
 'tt2348322',
 'tt4908644',
 'tt2140373',
 'tt0085244',
 'tt0253474',
 'tt1118511',
 'tt5895028',
 'tt3901826',
 'tt0438064',
 'tt0082484',
 'tt0406501',
 'tt0116409',
 'tt3170832',
 'tt0465551',
 'tt0080974',
 'tt1596363',
 'tt0110912',
 'tt4595882',
 'tt0208874',
 'tt7535612',
 'tt0468489',
 'tt0091578',
 'tt0078754',
 'tt0133240',
 'tt0141858',
 'tt0478134',
 'tt0110882',
 'tt3438472',
 'tt1649419',
 'tt0113819',
 'tt0935075',
 'tt0087049',
 'tt0085722',
 'tt0361748',
 'tt0096238',
 'tt0271628',
 'tt0084764',
 'tt0104802',
 'tt1872194',
 'tt0083265',
 'tt0120616',
 'tt0209037',
 'tt0783233',
 'tt1252486',
 'tt1957945',
 'tt0296874',
 'tt3829254',
 'tt5580036',
 'tt0085380',
 'tt0445620',
 'tt0080713',
 'tt3553976',
 'tt0328880',
 'tt0189179',
 'tt0875034',
 'tt0090557',
 'tt0100802',
 'tt0285742',
 'tt0887912',
 'tt2486682',
 'tt7446332',
 'tt0082846',
 'tt0080337',
 'tt0093713',
 'tt0440963',
 'tt0457496',
 'tt1398426',
 'tt0094416',
 'tt0317248',
 'tt5776858',
 'tt0118566',
 'tt0083987',
 'tt0095530',
 'tt0120800',
 'tt0790636',
 'tt0093870',
 'tt0334405',
 'tt0390521',
 'tt1964446',
 'tt6598290',
 'tt5301662',
 'tt0109465',
 'tt4154796',
 'tt0983193',
 'tt0105690',
 'tt0094747',
 'tt0119448',
 'tt0327056',
 'tt0105323',
 'tt0085548',
 'tt0970179',
 'tt0371746',
 'tt0085213',
 'tt0115751',
 'tt4874696',
 'tt8404614',
 'tt0096193',
 'tt2011971',
 'tt0100517',
 'tt0103639',
 'tt4777008',
 'tt0112917',
 'tt0116329',
 'tt0082507',
 'tt1980929',
 'tt0479113',
 'tt0119738',
 'tt0970184',
 'tt0117364',
 'tt0097322',
 'tt0264476',
 'tt0299977',
 'tt0104348',
 'tt0448694',
 'tt0084434',
 'tt0083658',
 'tt0117665',
 'tt0099776',
 'tt0110684',
 'tt0409182',
 'tt0115685',
 'tt1219675',
 'tt0086510',
 'tt0240216',
 'tt0094812',
 'tt0461770',
 'tt1279499',
 'tt0085255',
 'tt0449467',
 'tt6053438',
 'tt0435933',
 'tt0094142',
 'tt0100579',
 'tt0363607',
 'tt1677720',
 'tt0116214',
 'tt1687903',
 'tt0117631',
 'tt0111495',
 'tt2267998',
 'tt0117381',
 'tt5816682',
 'tt0108515',
 'tt0102406',
 'tt6155172',
 'tt0119280',
 'tt0387131',
 'tt4048272',
 'tt0097155',
 'tt0177971',
 'tt0080762',
 'tt0113653',
 'tt2028530',
 'tt1276419',
 'tt0141560',
 'tt3544082',
 ...]

In [12]:
for scraped_link in links:
    links.remove(scraped_link)
len(links)

1101

In [13]:
distribution_list = []
oscar_movie_list = []
movie_link_not_working = []
distro_link_not_working = []
count=0
count_to_10 = 0
for link in links[790:len(links)]:
    print(count)
    count+=1
    try:
        get_movie_dict(link)
        oscar_movie_list.append(get_movie_dict(link))
    except:
        movie_link_not_working.append(link)
    try:
        get_distribution_dict(link)
        distribution_list.append(get_distribution_dict(link))
    except:
        distro_link_not_working.append(link)
    if count_to_10 == 10: 
        movies_info_df = pd.DataFrame(oscar_movie_list)
        movies_info_df.set_index('IMDBId', inplace=True)
        distribution_info_df = pd.DataFrame(distribution_list)
        distribution_info_df.set_index('IMDBId', inplace=True)
        movies_info_df2 = pd.merge(movies_info_df, distribution_info_df, on='IMDBId', how='left')
        movies_info_df2.to_csv('oscar_movies.csv',mode='a',header=False,encoding='utf-8-sig')
        count_to_10 = 0
        oscar_movie_list = []
        ditribution_list = []
    count_to_10+=1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310

In [47]:
movies_info_df = pd.DataFrame(oscar_movie_list)
movies_info_df.set_index('IMDBId', inplace=True)
movies_info_df.head()

,movie title,director(s),writer(s),casts,genre(s),language,country,runtime (mins),mpaarating,release date,metacritic score,budget
IMDBId,,,,,,,,,,,,
tt0091763,Platoon,[Oliver Stone],[Oliver Stone],"[Charlie Sheen, Tom Berenger, Willem Dafoe]","[Drama, War]",English,USA,2h,R,6 February 1987,92.0,6000000.0
tt0082979,Reds,[Warren Beatty],"[Warren Beatty, Trevor Griffiths]","[Warren Beatty, Diane Keaton, Edward Herrmann]","[Biography, Drama, History, Romance]",English,USA,3h 15min,PG,25 December 1981,76.0,32000000.0
tt0084434,An Officer and a Gentleman,[Taylor Hackford],[Douglas Day Stewart],"[Richard Gere, Debra Winger, David Keith]","[Drama, Romance]",English,USA,2h 4min,R,13 August 1982,75.0,7500000.0
tt0119360,In & Out,[Frank Oz],[Paul Rudnick],"[Kevin Kline, Joan Cusack, Tom Selleck]","[Comedy, Romance]",English,USA,1h 30min,PG-13,19 September 1997,70.0,35000000.0
tt0292542,Son of the Bride,[Juan José Campanella],"[Juan José Campanella, Fernando Castets]","[Ricardo Darín, Héctor Alterio, Norma Aleandro]","[Comedy, Drama]",Spanish,Argentina,2h 3min,R,16 August 2001,68.0,NaN

In [48]:
movies_info_df.describe()

       metacritic score        budget
count        666.000000  5.460000e+02
mean          75.860360  2.749871e+07
std           11.386974  3.039982e+07
min           28.000000  1.800000e+05
25%           68.000000  8.100000e+06
50%           77.000000  1.800000e+07
75%           84.000000  3.237500e+07
max          100.000000  2.370000e+08

,movie title,director(s),writer(s),casts,genre(s),language,country,runtime (mins),mpaarating,release date,metacritic score,budget
IMDBId,,,,,,,,,,,,
tt0091763,False,False,False,False,False,False,False,False,False,False,False,False
tt0082979,False,False,False,False,False,False,False,False,False,False,False,False
tt0084434,False,False,False,False,False,False,False,False,False,False,False,False
tt0119360,False,False,False,False,False,False,False,False,False,False,False,False
tt0292542,False,False,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...
tt0189998,False,False,False,False,False,False,False,False,False,False,False,False
tt0094608,False,False,False,False,False,False,False,False,False,False,False,False
tt0097155,False,False,False,False,False,False,False,False,False,True,True,True
tt0100157,False,False,False,False,False,False,False,False,False,False,False,False
tt0086619,False,False,False,False,False,False,False,False,False,False,False,False

In [45]:
len(oscar_movie_list)

362

In [54]:
#Create a distribution list data frame
distribution_info_df = pd.DataFrame(distribution_list)
distribution_info_df.set_index('IMDBId', inplace=True)
distribution_info_df

                           distributionCompany
IMDBId
tt0091763                       Orion Pictures
tt0082979                   Paramount Pictures
tt0084434                   Paramount Pictures
tt0119360                   Paramount Pictures
tt0292542               Sony Pictures Classics
...                                        ...
tt0189998  Lions Gate Films Home Entertainment
tt0094608                   Paramount Pictures
tt0097155                   Pathé-Nordisk Film
tt0100157                    Columbia Pictures
tt0086619         MGM/UA Entertainment Company

[796 rows x 1 columns]

In [57]:
distribution_info_df.tail()

                           distributionCompany
IMDBId
tt0189998  Lions Gate Films Home Entertainment
tt0094608                   Paramount Pictures
tt0097155                   Pathé-Nordisk Film
tt0100157                    Columbia Pictures
tt0086619         MGM/UA Entertainment Company

In [60]:
movies_info_df2 = pd.merge(movies_info_df, distribution_info_df, on='IMDBId', how='left')

movies_info_df2.shape

(797, 13)

In [63]:
movies_info_df2.to_csv('oscar_movies.csv',encoding='utf-8-sig')