## Explore the relationship between metacritic score and the current features to find what features to encode or engineer

In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
oscars_df = pd.read_csv('oscar_movies_data.csv')

In [3]:
oscars_df.describe()

        Unnamed: 0  runtime (mins)  metacritic score        budget
count  1136.000000     1136.000000       1136.000000  1.072000e+03
mean    708.796655      120.032570         72.083627  4.268831e+07
std     425.941679       21.817864         13.554168  5.070841e+07
min       0.000000       70.000000         16.000000  6.500000e+04
25%     342.750000      105.000000         64.000000  1.136429e+07
50%     687.500000      118.000000         74.000000  2.500000e+07
75%    1081.250000      132.000000         82.000000  5.200000e+07
max    1493.000000      224.000000        100.000000  3.210000e+08

In [ ]:
oscars_df.drop(co)